<nav class="nav-outlook">
    <div class="nav-logo">Pindogram</div>
    <div class="nav-buttons">
      <p>Zalogowany jako: {{user.firstName}} {{user.lastName}}</p>
      <button class="btn-pos" placement="bottom" ngbTooltip="Cuckpit administratora"><img src="../../../assets/cockpit.png" alt="img"></button>
      <button class="btn-pos" (click)="addMeme()" placement="bottom" ngbTooltip="Dodaj mema"><img src="../../../assets/add_meme.png" alt="img"></button>
      <button class="btn-pos" (click)="logout()" placement="bottom" ngbTooltip="Wyloguj się"><img src="../../../assets/logout.png" alt="Wyloguj"></button>
    </div>
</nav>
