<div class="login-wrapper">

    <video autoplay muted id="background-vid">
  <source src="../../assets/best_cat.mp4" type="video/mp4">
</video>


    <div class="bottom-section">

        <img src="../../assets/pope_pepe.png" class="img-pepe" alt="Image">

        <h1 class="page-title">PINDOGRAM</h1>
        <p class="page-description">Miejsce, w ktorym bendziesz mogl znalezc szczescie na tym smutnym, pelnym nienawisci swiecie. Znajdziesz tu ludzi, z wlasciwym poczuciem humorku.</p>
        <div class="buttons-wrapper">

            <button class=" btn btn-white">
    <span>Zarejestruj </span>
  </button>

            <button class=" btn btn-white">
    <span>Zaloguj</span>

  </button>
        </div>


    </div>

</div>