<div class="login-wrapper">
  <app-alert></app-alert>
  <img id="background-vid" src="../../assets/temp_login.webp" alt="img">
  <div class="bottom-section">
    <img src="../../assets/pope_pepe.webp" class="img-pepe" alt="Image">
    <h1 class="page-title">PINDOGRAM</h1>
    <p class="page-description">Miejsce, w ktorym bendziesz mogl znalezc szczescie na tym smutnym, pelnym nienawisci
      swiecie. Znajdziesz tu ludzi, z wlasciwym poczuciem humorku.</p>
    <div class="buttons-wrapper">
      <button class=" btn btn-white" (click)='openRegister()'>Zarejestruj</button>
      <button class=" btn btn-white" (click)='openLogin()'>Zaloguj</button>
    </div>
  </div>
</div>
