<button (click)="addMeme()"> Dodaj mema </button>
<div class="home-wrapper">
  <div class="memes-container">
    <div class="meme-wrap" *ngFor="let meme of memes; trackBy: trackId">
      <h4>{{meme.title}}</h4>
      <img [src]="'data:image/jpeg;base64,' + meme.image" width="500px" alt="img"/>
      <p>
        Autor: {{meme.author.username}},
        punkty: {{meme.likes}}
        dodano: {{meme.dateAdded | date: 'd-M-y, HH:mm'}}
      </p>
      <div class="btn-rates">
        <button type="button" class="btn btn-light" [disabled]="meme.canUpvote"  (click)="upvoteMeme(meme.id)">
          UP
        </button>
        <button type="button" class="btn btn-light" [disabled]="meme.canDownvote" (click)="downvoteMeme(meme.id)">
          DOWN
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteMeme(meme)">
          DEL
        </button>
      </div>
    </div>
  </div>
</div>
