<div class="administration-wrapper">
  <h1>Cuckpit administratoracyjny</h1>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Zarządzanie użytkownikami</ng-template>
      <ng-template ngbTabContent>
        <p>Users table here</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Zarządzanie memami</ng-template>
      <ng-template ngbTabContent>
        <div class="memes-wrapper" *ngFor="let meme of memes; index as i; trackBy: trackId">
          <span class="meme-index">{{i + 1}}</span>
          <img class="img" [src]="'data:image/jpeg;base64,' + meme.image" alt="img">
          <div class="info-wrapper">
            <p>{{meme.title}}</p>
            <p>Autor:{{meme.author.username}} data dodania: {{meme.dateAdded | date: 'd-M-y, HH:mm'}}</p>
          </div>
          <div class="buttons-wrapper">
            <button class="btn btn-success" (click)="approveMeme(meme.id)">OK</button>
            <button class="btn btn-danger" (click)="deleteMeme(meme)">X</button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Raporty</ng-template>
      <ng-template ngbTabContent>
        <p>Wykresy here</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
