<div class="administration-wrapper">
  <h1>Cuckpit administratoracyjny</h1>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Zarządzanie użytkownikami</ng-template>
      <ng-template ngbTabContent>
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Imię</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">Login</th>
              <th scope="col">Aktywny</th>
              <th scope="col">Grupa</th>
              <th scope="col">Usuń</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i; trackBy userId">
              <td scope="row"><span>{{i + 1}}</span></td>
              <td><span>{{user.firstName}}</span></td>
              <td><span>{{user.lastName}}</span></td>
              <td><span>{{user.username}}</span></td>
              <td><button class="circle" [ngClass]="{'activated': user.isActive}" [disabled]="user.id === isCurrentUser()" (click)="changeUserStatus(user)"></button></td>
              <td>
                <select class="form-control" name="group" [(ngModel)]="user.group" [disabled]="user.id === isCurrentUser()" (change)="changeUserGroup(user)">
                    <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                </select>
              </td>
              <td><button class="btn-delete-user" [disabled]="user.id === isCurrentUser()" (click)="deleteUser(user.id)"></button></td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Zarządzanie memami</ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="memes-wrapper" *ngFor="let meme of memes; index as i; trackBy: trackId">
          <span class="meme-index">{{i + 1}}</span>
          <img class="img" [src]="'data:image/jpeg;base64,' + meme.image" alt="img">
          <div class="info-wrapper">
            <h4 class="info-title">{{meme.title}}</h4>
            <p>Autor:{{meme.author.username}} data dodania: {{meme.dateAdded | date: 'd-M-y, HH:mm'}}</p>
          </div>
          <div class="buttons-wrapper">
            <button class="ok-button" (click)="approveMeme(meme.id)"></button>
            <button class="negative-button" (click)="deleteMeme(meme)"></button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Raporty</ng-template>
      <ng-template ngbTabContent>
        <br>
        <div class="row">
          <div class="col-2">
            <h5>Wykres like/dislike</h5>
            <ngx-charts-bar-vertical [view]="viewBar" [scheme]="colorScheme" [results]="memeRates" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [showGridLines]="showGridLines">
            </ngx-charts-bar-vertical>
          </div>
          <div class="col-8">
            <h5>Wykres zaakceptowanych memów z ostatnich 10 dni</h5>
            <ngx-charts-line-chart [view]="viewLine" [scheme]="colorScheme" [results]="memeActivated" [xAxis]="showXAxis"
              [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel">
            </ngx-charts-line-chart>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
