<div class="modal-header">
  <h4 class="modal-title">Zarejestruj się</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <input type="text" class="form-control"/>
    <input type="text" class="form-control"/>
    <input type="text" class="form-control"/>
    <input type="password" class="form-control"/>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="register()">Zarejestruj</button>
  <button type="button" class="btn btn-outline-dark" (click)="cancel()">Zamknij</button>
</div>
