<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title">Dodaj mema</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Tytuł</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="meme.title" [ngClass]="{ 'is-invalid': meme.title && meme.title.length > 100 }"/>
      <div class="invalid-feedback" *ngIf="meme.title && meme.title.length > 100">Tytuł może mieć maksymalnie 100 znakow</div>
    </div>
    <div class="form-group">
      <label for="image">Zdjęcie</label>
      <div class="image-upload">
        <input name="image" class="form-control-file" type="file" accept="image/*" (change)="handleInputChange($event)" [ngClass]="{ 'is-invalid': meme.image && meme.image.length > 2097152 }"/>
        <div *ngIf="meme.image && meme.image.length > 2097152" class="invalid-feedback">
          <div>Plik może mieć maksymalnie 2MB</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="loading || !meme.image || !meme.title || meme.title.length > 100 || meme.image.length > 2097152" class="btn btn-primary">Dodaj</button>
  </div>
</form>
