.detail-meme-wrapper{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  overflow-y: auto;
  z-index: -1;
  .memes-container{
    display: block;
    background: rgba(241, 241, 241,0.9);
    width: 900px;
    margin: -90px auto 0px auto;
    padding: 120px 100px 5px 100px;
    .meme-wrap{
      margin-bottom: 45px;
      img{
        cursor: pointer;
      }
      .btn-rates{
        .buttons{
          width: 35px;
          height: 35px;
          border: none;
          outline: none;
          background-size: cover;
          background-repeat: no-repeat;
          vertical-align: middle;
          background-color: transparent;
          cursor: pointer;
        }
        .delete-button{
          @extend .buttons;
          background-image: url("../../../assets/clear-button.svg");
        }
        .up-vote{
          @extend .buttons;
          margin-right: 8px;
          background-image: url("../../../assets/drop-up-arrow.svg");
          &.active{
            background-image: url("../../../assets/drop-up-arrow-active.svg");
          }
        }
        .down-vote{
          @extend .up-vote;
          background-image: url("../../../assets/down-arrow.svg");
          &.active{
            background-image: url("../../../assets/down-arrow-active.svg");
          }
        }
      }
    }
  }
}
